*{
    font-family: 'Jost', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
header{

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
}
nav{
    display: flex;
}
nav>img{
    width: 179px;
    height: 90px;
}
nav li{
    display: inline-block;
    position: relative;
}

nav a{
    font-size: 15px;
    color: black;
    font-weight: 100;
    padding: 10px 15px;
}
nav a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: chocolate;
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
nav a:hover::after{
    width: 100%;
}
